<section>
	<h1>Who's stonelee</h1>
	<a href="/about"><img src="/images/stonelee.jpg"/></a>
	<p><a href="mailto:istonelee@gmail.com">istonelee@gmail.com</a></p>
	<p>
		<a href="http://www.douban.com/people/istonelee/">豆瓣</a>
		<a href="http://www.renren.com/profile.do?id=72210924">人人</a>
		<a style="white-space:normal;display:block;"target="_blank" href="http://sighttp.qq.com/authd?IDKEY=aeec06efbfbbaa5a9a850656a0aab3788df4c572abb5206c">
			<img style="border:0;" border="0" src="http://wpa.qq.com/imgd?IDKEY=aeec06efbfbbaa5a9a850656a0aab3788df4c572abb5206c&pic=49" alt="点击这里给我发消息" title="点击这里给我发消息">
		</a>
	</p>
</section>

